
.divClass2
{
	background: white;
	border: 5px solid black;
	





}
.divClass3
{
	background:black;
	border: 4px solid white;
	height: 200px;
	width:250px;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;

}
.divClass
{
	background:black;
	border: 5px solid white;
	 display:flex;
	 justify-content: center;
	 align-content: flex-start;
}
.divClass1
{
	background:black;
	border: 4px solid white;
	height: 250px;
	width:250px;
	align-items: center;
	margin-top: 20px;

}
h2
{
	color:white;
}

 
 
./*Icon-logo {
  animation: img1 infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}*/

.App {
  border: 6px solid black;
 background-color: #99ffff;
 height:300;

 

}
.colorimg
{
 align-items: center;
 align-items: center;
 width: 50px;
 padding: 20px;

 font-weight: bold;
 color: #444;
 text-decoration: none;
 animation:  img1 infinite 20s linear;
 

 }

  
  


@keyframes img1 {
 from {
 transform:translate(50px,30px);
  }
  to
  {
 transition:transform ;
  }
  
   
}
